{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 align="middle">ENTC Results Management System</h1>
            </div>

            <div id="status">
                <p align="middle">
                    Students' Results, Semester Results, Module Results, CGPA, Ranks
                </p>
                
                <img src="{{ asset('img/1.jpg') }}" width="100%">
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
