{# app/Resources/views/admin/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
System Administration
{% endblock %}

{% block body %}
<div class="generate-results">
	<ul>
    {% for semester in semesters %}
        <li class="semester-list">
        	{{ semester.name |e }} -
        	<div class="btn-group" >
		       <a href="{{url('semester_update',{'id':semester.id})}}"> <button type="button" class="btn btn-xs btn-success">Update Results</button></a>
		       
		    </div>
		    
        </li>
    {% endfor %}
	</ul>
	
</div>  

<br>

<div class="generate-gpa">
	<h4>Update CGPA of each student</h4>
	<div class="btn-group" >
       <a href="{{url('student_cgpa_update')}}"> <button type="button" class="btn btn-s btn-danger">Update CGPA</button></a>
    </div>
</div>
{% endblock %}