{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Lucky Number!
{% endblock %}

{% block body %}
    <h1>Lucky Numbers: {{ luckyNumberList }}</h1>
    <h3>Lucky Numbers: {{ luckyNumberList }}</h3>
    <p>hi</p>
{% endblock %}

