.panel
{
	margin: 20px;
}

/*#cssmenu.align-right ul{
  	float: right;
}*/

/*.semester-list li {
	padding: 5px;
}*/

li {
	padding: 3px;
}


/*table*/
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 2px;
    padding-left:10px;
    text-align: left;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(220,220,220);
}

/*semester nav list*/
ul#semmenu {
    padding: 0;
}

ul#semmenu li {
    display: inline;
}

ul#semmenu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#semmenu li a:hover {
    background-color: orange;
}